@import variables
// display flex
@mixin flexGeneral($valueContent, $valueItems: center, $TrueFalse: false)
    display: flex
    justify-content: $valueContent
    @if $TrueFalse
        align-items: $valueItems

@mixin gridGeneral($content: center, $TrueFalseGrid: false, $valueItemsGrid: center, $gap: 1rem)
    display: grid
    justify-content: $content
    gap: $gap
    @if $TrueFalseGrid
        align-items: $valueItemsGrid

// containers
$sizeContainer: 100, 120, 140
@each $i_Container in $sizeContainer
    .container-#{$i_Container}
        margin: 0 auto
        max-width: #{$i_Container}rem

// botones generales
@mixin btn-standar($bg-color: white, $tx-trans: capitalize, $clr: #000000, $brs: 0.5rem, $wt: 5rem, $hg: 1rem, $pdd: 1rem 2rem)
    overflow: hidden
    background: $bg-color
    text-transform: $tx-trans
    border-radius: $brs
    color: $clr
    width: $wt
    height: $hg
    padding: $pdd

// general styles
.header
    height: 100vh
    width: 100%
    position: relative
    .header-cont
        height: 8rem
        @include flexGeneral(space-between)
    .header-cont__nav
        z-index: 1000
        @include flexGeneral(start, center, $TrueFalse: true)
    .title-page
        font-size: 4rem
        font-weight: 500
        color: $color_text_green
    .nav
        background-color: $color_white_standar
        margin-left: 5rem
        width: 50rem
        ul
            @include flexGeneral(space-between, center, $TrueFalse: true)
            .nav-list
                font-size: 1.5rem
                letter-spacing: 0.25rem
                text-transform: capitalize
                position: relative
                font-weight: 500
                .nav-link
                    color: $color_grey
                    transition: 0.3s ease-in-out
                .nav-link:hover
                    color: #000000
            .nav-list:before
                content: ''
                position: absolute
                bottom: -0.5rem
                left: 0
                width: 0%
                height: 0.3rem
                transition: 0.5s ease-in-out
                background: $color-green_and_blue_gradient
            .nav-list:hover:before
                width: 100%

// segundo item del nav buscador
.item-adic
    z-index: 1000
    position: relative
    @include flexGeneral(center, center, $TrueFalse: true)
    .adic-form__search
        @include flexGeneral(space-between, center, $TrueFalse: true)
        .adic-cont__input
            position: relative
        label
            cursor: pointer
            margin-right: 1rem
        input
            display: block
            width: 0rem
            transition: 0.3s ease-in-out
        input::placeholder
            text-transform: capitalize
        input:focus
            width: 20rem
            margin-right: 5rem
        .adict-line__decoration
            content: ''
            width: 0rem
            right: 0
            bottom: -0.3rem
            position: absolute
            height: 0.3rem
            background: $color-green_and_blue_gradient
            display: block
            transition: 0.3s ease-in-out
        input:focus + .adict-line__decoration
            width: 20rem
            margin-right: 5rem
        .adict-button
            @include btn-standar($wt: 0rem, $pdd: 0rem, $hg: auto, $bg-color: $color_green_4d5deg, $clr: #ffffff)
            position: absolute
            bottom: 0
            top: -0.5rem
            right: -1rem
            transition: 0.3s ease-in-out
            z-index: 100
        input:focus ~ .adict-button
            width: 5rem
        .adict-button:hover
            background: $color-green_and_blue_gradient

    // linea que separa
    .line-sep
        display: block
        width: 0.2rem
        height: 2.6rem
        margin: 0rem 2rem
        background-color: $color_grey
    // seleccion de idiomas y login
    .adic-selec__lang
        border: none
        text-transform: uppercase
        border-radius: 0.5rem
        outline: none
        cursor: pointer
    .login
        @include btn-standar($wt: 8rem, $pdd: 0.5rem 1.5rem, $hg: 2.7rem, $bg-color: $colot_bg_green_transparent, $clr: $color_text_green)
        text-align: center
        font-size: 1.25rem
        letter-spacing: 0.18rem
        margin-left: 1rem
        transform: scale(1)
        transition: 0.3s ease-in-out
        font-weight: 900
    .login:hover
        transform: scale(1.05)
        background: $color-green_and_blue_gradient
        color: #ffffff

// hero
.hero-main
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    .hero-cont
        height: 100vh
        @include flexGeneral(space-between, center, $TrueFalse: true)
        .hero-info
            max-width: 45rem
            height: auto
            h1
                font-size: 4vmax
                margin: 0
                color: $color_text_green
                text-transform: capitalize
            p
                font-size: 1.2vmax
                letter-spacing: 0.20rem
                line-height: 2.5rem
                color: $color_grey_1
            .btn-get
                @include btn-standar($bg-color: $color_text_green, $tx-trans: capitalize, $clr: #ffff, $brs: 2rem, $wt: auto, $hg: auto, $pdd: 1rem 2rem)
                font-size: 1.5vmax
                transition: 0.3s ease-in-out
                transform: scale(1)
            .btn-get:hover
                background: $color_text_green_1
                transform: scale(1.03)
    .hero-draw
        width: 60rem
        height: 60rem

// seccion de nosotros
.we-section
    @include flexGeneral(space-between, center, $TrueFalse: true)
    height: 100vh
    position: relative
    .we-item__one
        @include gridGeneral($content: center, $TrueFalseGrid: false, $valueItemsGrid: center, $gap: 1rem)
        grid-template-rows: repeat(2, 20rem)
        grid-template-columns: repeat(3, 1fr)
        align-items: center
        .we-item__card
            border-radius: 0.5rem
            background-color: #ffffff
            .we-item__info
                @include flexGeneral(center, center, $TrueFalse: true)
                box-shadow: $shadowStandar // temporal
                height: 20rem
                width: 18rem
                .item-card__direct
                    i
                        font-size: 4.5vmax
                        color: $color_text_green_1
                    h3
                        color: $color_text_green_1
                        text-transform: uppercase
                        text-align: center
        .we-item__card:nth-child(1)
            grid-row: 1/3
            align-content: center
        .we-item__card:nth-child(3)
            grid-row: 1/3
            grid-column: 3/4
        .we-item__card:nth-child(4)
            grid-column: 2/3
            background-color: $color_text_green_1
            .item-card__direct
                i
                    font-size: 4.5vmax
                    color: #fff
                h3
                    color: #fff
                    text-transform: uppercase
                    text-align: center
    // segunda subseccion de la segunda seccion general
    .who-we
        .who-we__cont
            width: 50rem
            h2
                color: $color_title_blackLihgt
                font-size: 2.5vmax
                text-transform: capitalize
                span
                    color: $color_text_green
            p
                line-height: 2.5rem
                font-size: 1.7rem
                color: $color_grey_1

            .who-we__btn
                font-size: 1.5rem
                color: $color_text_green
                text-transform: capitalize

.circle-animation
    position: absolute
    left: -15rem
    bottom: 0
    top: 0
    margin: auto 0
    width: 60rem
    height: 60rem
    z-index: -1000
    path
        animation: 20s ease-in-out infinite circle_animation_general

@keyframes circle_animation_general
    0%
        d: path('M60.3,-27.3C65.3,-4.1,47.7,18.7,26.7,33.2C5.6,47.7,-19,53.8,-32,44.3C-45,34.8,-46.4,9.6,-39.1,-16.6C-31.9,-42.9,-15.9,-70.3,5.9,-72.2C27.6,-74.1,55.3,-50.5,60.3,-27.3Z')
    25%
        d: path('M66,-23.2C72.8,-0.6,56.7,27.6,32.5,45.4C8.2,63.2,-24.2,70.5,-44.6,56.8C-65,43,-73.5,8.2,-64,-18C-54.6,-44.2,-27.3,-61.9,1.2,-62.2C29.6,-62.6,59.3,-45.8,66,-23.2Z')
    50%
        d: path('M41.1,-9.8C48.2,8.3,45.2,33.3,30.3,44.9C15.3,56.5,-11.7,54.9,-27,42.5C-42.3,30.1,-46,7,-39.6,-10.3C-33.1,-27.6,-16.6,-39.1,0.2,-39.2C17,-39.3,34.1,-27.9,41.1,-9.8Z')
    75%
        d: path('M68.2,-17.3C76.6,3.7,63.5,36.6,40.7,52.2C17.9,67.9,-14.6,66.3,-31.9,51.9C-49.1,37.4,-51.2,10.1,-43.4,-10.2C-35.5,-30.5,-17.8,-43.7,6.1,-45.6C29.9,-47.6,59.8,-38.4,68.2,-17.3Z')
    