
.icon-facebook-circled:before { content: '\e800'; } /* '' */
.icon-twitter-circled:before { content: '\e801'; } /* '' */
.icon-camera-outline:before { content: '\e802'; } /* '' */
.icon-doc-text:before { content: '\e803'; } /* '' */
.icon-code-outline:before { content: '\e804'; } /* '' */
.icon-instagram-1:before { content: '\f16d'; } /* '' */
.icon-map-o:before { content: '\f278'; } /* '' */